nav a {
  transition: all 0.15s ease;
}

.nav-link:hover {
  padding-left: 20px;
  color: #d9534f !important;
}

// .kapcsolat {
//   color: #d9534f !important;

//   &:hover {
//     color: #fff !important;
//   }
// }
